html,
body {
	/* background: rgb(71, 55, 164); */
	background: linear-gradient(
		315deg,
		rgb(44, 78, 172) 0%,
		rgb(0, 105, 153) 37%,
		rgb(0, 174, 255) 100%
	);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.name-header{
    font-family: 'Satisfy', cursive;
}
